<div class="app-ranking mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="app-ranking__toggle">
        <span class="app-ranking__toggle-content">
            <button ng-click="setType('blitz')"
                    ng-class="{'checked': type === 'blitz'}"
                    class="app-button mdl-button mdl-js-button mdl-js-ripple-effect">
                {{ 'blitz' | translate }}
            </button>
            <button ng-click="top100('blitz')"
                    ng-class="{'checked': type === 'blitzTop100'}"
                    class="app-button mdl-button mdl-js-button mdl-js-ripple-effect">
                {{ 'blitz' | translate }} {{ 'top100'|translate }}
            </button>
        </span>
        <span class="app-ranking__toggle-content">
            <button ng-click="setType('rapid')"
                    ng-class="{'checked': type === 'rapid'}"
                    class="app-button mdl-button mdl-js-button mdl-js-ripple-effect">
                {{ 'rapid' | translate }}
            </button>
            <button ng-click="top100('rapid')"
                    ng-class="{'checked': type === 'rapidTop100'}"
                    class="app-button mdl-button mdl-js-button mdl-js-ripple-effect">
                {{ 'rapid' | translate }} {{ 'top100'|translate }}
            </button>
        </span>
    </div>
    <div ng-show="loadRanking" class="app-ranking__spinner">
        <div data-spinner class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>
    <table class="app-table app-table--ranking mdl-data-table mdl-js-data-table">
        <tbody>
            <tr ng-repeat="rank in ranking" 
                ng-class="{'is-user': rank.uid === user.uid }">
                <td class="app-table__rank mdl-data-table__cell--non-numeric">{{ rank.position }}</td>
                <td class="app-table__user mdl-data-table__cell--non-numeric">
                    <a href
                       show-profile="rank.uid">
                        <img avatar
                             class="app-table__avatar" 
                             ng-src="{{rank.avatar}}">
                        <span class="app-table__name">{{ rank.name }}</span>
                    </a>
                </td>
                <td class="app-table__points">{{ rank.points }}</td>
            </tr>
        </tbody>
    </table>
    <div class="app-pagination" pagination></div>
</div>
