<div element class="app-element app-element--created-games mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <element-toggle name="'games'" collection="createdGames"></element-toggle>
    <div element-content 
         class="app-element__body">
        <table ng-show="createdGames.length" 
               class="app-table mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th sortable collection="createdGames" expression="['name', 'points', 'time', 'color']" icon="account_circle"></th>
                    <th sortable collection="createdGames" expression="['points', 'time', 'color', 'name']" icon="star"></th>
                    <th sortable collection="createdGames" expression="['color', 'points', 'time', 'name']" icon="invert_colors"></th>
                    <th sortable collection="createdGames" expression="['time', 'points', 'color', 'name']" icon="schedule"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in createdGames">
                    <td class="app-table__user mdl-data-table__cell--non-numeric">
                        <a href
                           show-profile="game.uid">
                            <img avatar
                                 class="app-table__avatar" 
                                 ng-src="{{ game.avatar }}">
                            <span class="app-table__name">{{ game.name }}</span>
                        </a>
                    </td>
                    <td class="app-table__points">{{ game.points }}</td>
                    <td class="app-table__color" 
                        ng-class="{
                            'app-table__color--white': game.color === 'white', 
                            'app-table__color--black': game.color === 'black' 
                        }">
                    </td>
                    <td class="app-table__time">{{ game.game.time / 60 }} + {{ game.game.increment }}</td>
                    <td class="app-table__actions">
                        <button ng-if="game.uid == user.uid" 
                                ng-click="removeGame()" 
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons">close</i>
                        </button>
                        <button ng-if="game.uid != user.uid" 
                                ng-click="$event.stopPropagation(); startGame(game.uid)" 
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored">
                            <i class="material-icons">check</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div element class="app-element mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <element-toggle name="'favorites'" collection="favorites"></element-toggle>
    <div element-content 
         ng-show="favorites.length"
         class="app-element__body">
        <table class="app-table mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th sortable collection="favorites" expression="['name', 'blitz.points', 'rapid.points']" icon="account_circle"></th>
                    <th sortable collection="favorites" expression="['blitz.points', 'rapid.points', 'name']" icon="flash_on"></th>
                    <th sortable collection="favorites" expression="['rapid.points', 'blitz.points', 'name']" icon="timer"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="favorite in favorites">
                    <td class="app-table__user mdl-data-table__cell--non-numeric">
                        <a href
                           show-profile="favorite.uid">
                            <img avatar
                                 class="app-table__avatar" 
                                 ng-src="{{ favorite.avatar }}">
                            <span class="app-table__name">{{ favorite.name }}</span>
                        </a>
                    </td>
                    <td title="{{ 'blitz'|translate }}">
                        {{ favorite.blitz.points }}
                    </td>
                    <td title="{{ 'rapid'|translate }}">
                        {{ favorite.rapid.points }}
                    </td>
                    <td>
                        <button ng-disabled="blackList(favorite)"
                                ng-click="setChallenger(favorite)"
                                show-modal="#modal-challenger"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored">
                            <i class="material-icons">check</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div element class="app-element mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <element-toggle name="'challengers'" collection="challengers"></element-toggle>
    <div element-content 
         ng-show="challengers.length"
         class="app-element__body">
        <table class="app-table mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th sortable collection="challengers" expression="['name', 'blitz.points', 'rapid.points']" icon="account_circle"></th>
                    <th sortable collection="challengers" expression="['blitz.points', 'rapid.points', 'name']" icon="flash_on"></th>
                    <th sortable collection="challengers" expression="['rapid.points', 'blitz.points', 'name']" icon="timer"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="challenger in challengers">
                    <td class="app-table__user mdl-data-table__cell--non-numeric">
                        <a href
                           show-profile="challenger.uid">
                            <img avatar
                                 class="app-table__avatar" 
                                 ng-src="{{challenger.avatar}}">
                            <span class="app-table__name">{{ challenger.name }}</span>
                        </a>
                    </td>
                    <td>
                        {{ challenger.blitz.points }}
                    </td>
                    <td>
                        {{ challenger.rapid.points }}
                    </td>
                    <td>
                        <button ng-disabled="blackList(challenger)"
                                ng-click="setChallenger(challenger)"
                                show-modal="#modal-challenger"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored">
                            <i class="material-icons">check</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="app-infos">
    <div ng-if="displayConnected" ng-bind-html="displayConnected" class="app__pull-left"></div>
    <div ng-if="displayGames" ng-bind-html="displayGames" class="app__pull-right"></div>
</div>

<div id="modal-challenger" 
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     data-modal
     modal-close-bg>
    <div class="app-modal__dialog app-modal__dialog--head">
        <a ng-hide="loadGame" href modal-close class="app-modal__close">
            <i class="material-icons">clear</i>
        </a>
        <div class="app-modal__head">
            <div class="app-profile__card-avatar">
                <img avatar class="app-avatar app-profile__avatar" ng-src="{{ challenger.avatar }}">
            </div>
            {{ challenger.name }}
        </div>
        <div class="app-modal__content">
            <div class="app-profile app-profile--challenger">
                <div class="app-profile__info app-profile__info--blitz" title="{{ 'blitz'|translate }}">
                    <i class="app-icon material-icons">flash_on</i>
                    <div class="app-profile__info-content app-profile__info-content--points" title="{{ 'points'|translate }} ({{ 'blitz'|translate }})">
                        {{ challenger.blitz.points }}
                    </div>
                    <div class="app-profile__info-content app-profile__info-content--ranking" title="{{ 'ranking'|translate }} ({{ 'blitz'|translate }})">
                        <i class="app-icon material-icons">equalizer</i>
                        {{ challenger.blitz.ranking | number }}
                    </div>
                </div>
                <div class="app-profile__info app-profile__info--rapid" title="{{ 'rapid'|translate }}">
                    <i class="app-icon material-icons">timer</i>
                    <div class="app-profile__info-content app-profile__info-content--points" title="{{ 'points'|translate }} ({{ 'rapid'|translate }})">
                        {{ challenger.rapid.points }}
                    </div>
                    <div class="app-profile__info-content app-profile__info-content--ranking" title="{{ 'ranking'|translate }} ({{ 'rapid'|translate }})">
                        <i class="app-icon material-icons">equalizer</i>
                        {{ challenger.rapid.ranking | number }}
                    </div>
                </div>
            </div>
            <form ng-submit="createChallenge(challenger.uid)" role="form">
                <game-choices data="paramsGame" model="challenge"></game-choices>
                <div class="app-form__select">
                    <select ng-model="challenge.color" 
                            ng-options="value as value|translate for (key, value) in paramsGame.colors" 
                            ng-class="{'value': challenge.color }"
                            id="challenge-color">
                            <option value="">{{ 'random' | translate }}</option>
                    </select>
                    <label for="challenge-color">{{ 'color'|translate }}</label>
                </div>
                <div class="app-modal__actions">
                    <button modal-close 
                            type="button" 
                            class="mdl-button mdl-button--raised">
                        {{ 'cancel'|translate }}
                    </button>
                    <button modal-close 
                            type="submit" 
                            class="mdl-button mdl-button--raised mdl-button--colored">
                        {{ 'challenge'|translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
