<div id="modal-challenges" 
     class="app-modal app-modal--challenges app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     data-modal
     modal-close-bg>
    <div class="app-modal__dialog app-modal__dialog--head">
        <a href modal-close class="app-modal__close">
            <i class="material-icons">clear</i>
        </a>
        <div class="app-modal__head">
            {{ 'challenges' | translate }}
        </div>
        <div class="app-modal__content">
            <div class="app-element">
                <div element-content class="app-element__body">
                    <table class="app-table mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <th sortable collection="challenges" expression="['name', 'points', 'time', 'color']" icon="account_circle"></th>
                                <th sortable collection="challenges" expression="['points', 'time', 'color', 'name']" icon="star"></th>
                                <th sortable collection="challenges" expression="['color', 'points', 'time', 'name']" icon="invert_colors"></th>
                                <th sortable collection="challenges" expression="['time', 'points', 'color', 'name']" icon="schedule"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-if="challenges.length">
                            <tr ng-repeat="challenge in challenges"
                                show-profile="challenge.uid">
                                <td class="app-table__user mdl-data-table__cell--non-numeric">
                                    <img avatar
                                         class="app-table__avatar" 
                                         ng-src="{{challenge.avatar}}">
                                    <span class="app-table__name">{{ challenge.name }}</span>
                                </td>
                                <td class="app-table__points">{{ challenge.points }}</td>
                                <td class="app-table__color" 
                                    ng-class="{
                                        'app-table__color--white': challenge.color === 'white', 
                                        'app-table__color--black': challenge.color === 'black' 
                                    }">
                                </td>
                                <td class="app-table__time">{{ challenge.game.time / 60 }} + {{ challenge.game.increment }}</td>
                                <td class="app-table__actions">
                                    <button ng-if="!challenge.create" 
                                            ng-click="$event.stopPropagation(); startChallenge(challenge.uid)" 
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored">
                                        <i class="app-icon material-icons">check</i>
                                    </button>
                                    <button ng-click="$event.stopPropagation(); removeChallenge(challenge.uid)" 
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                        <i class="app-icon material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
