<div id="modal-settings" 
     class="app-modal app-modal__settings app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     data-modal
     modal-close-bg>
    <div class="app-modal__dialog app-modal__dialog--head">
        <a href modal-close class="app-modal__close">
            <i class="material-icons">clear</i>
        </a>
        <div class="app-modal__head">
            <div ng-show="load" class="app-settings__loader">
                <div data-spinner class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>
            <div class="app-done app-settings__done" ng-class="{'hide': !done }">
                <i class="app-icon material-icons">done</i>
            </div>
            {{ 'settings'|translate }}
        </div>
        <div class="app-modal__content">
            <form ng-submit="settingsForm.$valid && updateUser()"
                  name="settingsForm"
                  role="form">
                <div class="app-form__textfield">
                    <label for="settings-avatar" class="app-modal__settings-icon">
                        <i class="material-icons">photo_camera</i>
                    </label>
                    <input class="app-modal__settings-field" 
                           id="settings-avatar" 
                           type="text"
                           name="avatar"
                           ng-blur="checkAvatar()"
                           ng-model="settings.avatar" 
                           ng-pattern="patternAvatar" 
                           required>
                </div>
                <div class="app-form__select">
                    <label for="settings-lang" class="app-modal__settings-icon">
                        <i class="material-icons">language</i>
                    </label>
                    <select id="settings-lang"
                            ng-model="settings.lang" 
                            ng-options="key as value for (key, value) in languages"
                            class="app-modal__settings-field">
                    </select>
                </div>

                <div class="app-form__choices-colors">
                    <span class="app-modal__settings-icon">
                        <i class="material-icons">invert_colors</i>
                    </span>
                    <div class="app-modal__settings-field">
                        <button type="button"
                                ng-repeat="color in colorsGame"
                                ng-click="settings.colorGame = color"
                                ng-class="{'checked': settings.colorGame === color }"
                                class="app-button app-button--color app-button--color-{{ color }} mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
                        </button>
                    </div>
                </div>

                <div class="app-form__switch">
                    <span class="app-modal__settings-icon">
                        <i class="material-icons">volume_up</i>
                    </span>
                    <label class="app-modal__settings-field mdl-switch mdl-js-switch mdl-js-ripple-effect" for="settings-sound">
                        <input ng-model="settings.sound" type="checkbox" id="settings-sound" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                </div>

                <div class="app-modal__actions">
                    <button ng-click="reset()" type="button" class="mdl-button mdl-button--raised">{{ 'reset'|translate }}</button>
                    <button ng-disabled="load" type="submit" class="mdl-button mdl-button--raised mdl-button--colored">{{ 'ok'|translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
