<div id="modal-create-game" 
     class="app-modal app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     data-modal
     modal-close-bg>
    <div class="app-modal__dialog app-modal__dialog--head">
        <a ng-hide="loadGame" href modal-close class="app-modal__close">
            <i class="material-icons">clear</i>
        </a>
        <div class="app-modal__head">{{ 'create_game'|translate }}</div>
        <div class="app-modal__content">
            <form ng-submit="createGame()"
                  ng-hide="loadGame"
                  role="form">

                <game-choices data="paramsGame" model="game"></game-choices>
                <div class="app-form__select">
                    <select ng-model="game.color" 
                            ng-options="value as value|translate for (key, value) in paramsGame.colors"
                            ng-class="{'value': game.color }"
                            id="create-game-color">
                        <option value="">{{ 'random' | translate }}</option>
                    </select>
                    <label for="create-game-color">{{ 'color'|translate }}</label>
                </div>
                <div class="app-form__select-grid mdl-grid">
                    <div class="app-form__select mdl-cell--6-col">
                        <select ng-model="game.pointsMin"
                                ng-options="value as value for (key, value) in paramsGame.pointsMin"
                                ng-class="{'value': game.pointsMin }"
                                id="create-game-points-min">
                            <option value="">∞</option>
                        </select>
                        <label for="create-game-points-min">{{ 'min'|translate }}</label>
                    </div>
                    <div class="app-form__select mdl-cell--6-col">
                        <select ng-model="game.pointsMax"
                                ng-options="value as value for (key, value) in paramsGame.pointsMax"
                                ng-class="{'value': game.pointsMax }"
                                id="create-game-points-max">
                            <option value="">∞</option>
                        </select>
                        <label for="create-game-points-max">{{ 'max'|translate }}</label>
                    </div>
                </div>
                <div class="app-modal__actions">
                    <button modal-close type="button" class="mdl-button mdl-button--raised">{{ 'cancel'|translate }}</button>
                    <button type="submit" class="mdl-button mdl-button--raised mdl-button--colored">{{ 'create_game'|translate }}</button>
                </div>
            </form>
            <div class="app-search__game" ng-show="loadGame">
                <button ng-click="stopLoad();" 
                        class="app-search__game-edit mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                    <i class="material-icons">edit</i>
                </button>
                <div class="app-search__game-title">
                    <span>{{ 'search'|translate }} ...</span>
                </div>
                <div class="app-search__game-params">
                    <div class="app-search__game-name">
                        {{ paramsGame.games[game.game].type|translate }}
                    </div>
                    <div class="app-search__game-time">
                        {{ paramsGame.games[game.game].time / 60 }} + {{ paramsGame.games[game.game].increment }}
                    </div>
                </div>
                <div class="app-search__game-spinner">
                    <span class="app-search__game-color"
                          ng-class="getColorClass(game.color)">
                    </span>
                    <span class="app-spinner"></span>
                </div>
                <div>
                    <button ng-click="removeGame()" modal-close type="button" class="mdl-button mdl-button--raised">{{ 'cancel'|translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
