<div id="modal-profile" 
     class="app-modal app-modal--profile app-modal__bg" 
     role="dialog" 
     aria-hidden="true"
     data-modal
     modal-close-bg>
    <div class="app-modal__dialog app-modal__dialog--head">
        <a ng-hide="loadGame" href modal-close class="app-modal__close">
            <i class="material-icons">clear</i>
        </a>
        <div class="app-modal__head">
            <div class="app-profile__card-avatar">
                <img avatar class="app-avatar" ng-src="{{ profile.avatar }}">
            </div>
            {{ profile.name }}
        </div>
        <div class="app-modal__content">
            <profile-actions></profile-actions>
            <profile-game game-type="'blitz'" game-data="profile.blitz"></profile-game>
            <profile-game game-type="'rapid'" game-data="profile.rapid"></profile-game>
            <div ng-if="!user.gid"
                 class="app-profile__more">
                <a modal-close
                   ng-href="/profile/{{ profile.uid }}#blitz" 
                   class="app-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                   ng-bind="'blitz'|translate">
                </a>
                <a modal-close
                   ng-href="/profile/{{ profile.uid }}#rapid" 
                   class="app-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                   ng-bind="'rapid'|translate">
                </a>
                <a modal-close
                   ng-href="/profile/{{ profile.uid }}#trophies" 
                   class="app-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                   ng-bind="'trophies.title'|translate">
                </a>
            </div>
        </div>
    </div>
</div>
