<div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col" ng-show="profile">
    <div class="app-card__profile-title mdl-card__title">
        <h2 class="app-card__profile-title-text mdl-card__title-text">{{ profile.name }}</h2>
        <profile-actions></profile-actions>
        <div class="app-card__profile-avatar">
            <img avatar class="app-avatar" ng-src="{{ profile.avatar }}">
        </div>
    </div>
    <div class="app-card__profile-actions mdl-card__actions mdl-card--border">
        <a ng-repeat="value in menu"
           ng-click="showMenu(value)" 
           class="app-button mdl-button mdl-js-button"
           ng-class="{'is-active': activeMenu === value}">
            {{ value === 'trophies' ? 'trophies.title' : value | translate }}
        </a>
    </div>
</div>

<div ng-if="profile.blitz && activeMenu === 'blitz'" 
     class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="app-card__profile-stats">
        <profile-game game-type="'blitz'" game-data="profile.blitz"></profile-game>
    </div>
</div>
