.mdl-layout__container {
  direction: rtl;
  overflow: hidden;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
  padding-right: 24px;
  padding-left: 0;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
  padding-left: 24px;
  padding-right: 0;
}

.mdl-spinner {
  direction: ltr;
}

.mdl-switch__track,
.mdl-switch__thumb {
  left: initial;
  right: 0;
}

.mdl-switch__ripple-container {
  left: initial;
  right: -14px;
}

.mdl-switch.is-checked .mdl-switch__thumb {
  left: initial;
  right: 16px;
}

.app__pull-left {
  float: right;
}

.app__pull-right {
  float: left;
}

.app-navigation {
  direction: rtl;
}

.app-header__row {
    padding: 0 60px 0 40px;
}

.app-navigation__container {
  direction: ltr;
}

.app-navigation__profile-infos {
  margin-right: 0;
  margin-left: 12px;
}

.app-navigation__profile-infos {
  padding-left: 0;
  padding-right: 12px;
}

.app-navigation__profile-infos .app-icon {
  padding-right: 0;
  padding-left: 4px;
}

.app-profile--game-points {
  margin-left: 0;
  margin-right: 2px;
}

.app-button--create-game {
  margin: 0 48px 0 36px;
}

.app-modal--login .app-logo {
  padding: 4px 4px 4px 20px;
}

.app-modal--login .app-logo__icon {
  right: 4px;
}

.app-logo__text {
  margin-left: 0;
  margin-right: 56px;
}

.app-login__button {
  padding: 0 48px 0 16px;
}

.app-login__button:before {
  left: inherit;
  right: 0;
}

.app-login__button--facebook:before {
  border-right: initial;
  border-left: #364e92 1px solid;
}

.app-login__button--google:before {
  border-right: initial;
  border-left: #BB3F30 1px solid;
}

.app-element .app-element__tools {
  float: left;
}

.app-element .app-spinner {
  display: none;
}

.app-element .app-element__badge {
  margin-right: 4px;
  margin-left: 0;
  position: initial;
}

.app-pagination__content {
  text-align: left;
}

.app-pagination__textfield > input {
  text-align: left;
}

.app-game__timer {
  float: left;
}

.app-game__player-avatar {
  float: right;
}

.app-game__box {
  float: right;
}

.app-game__board--pink .app-game__box {
  background-color: #739673;
}

.app-game__board--blue .app-game__box {
  background-color: #32644b;
}

.app-game__board--orange .app-game__box {
  background-color: #787878;
}

.app-game__board--green .app-game__box {
  background-color: #789655;
}

.app-game__board--grey .app-game__box {
  background-color: #3F3F3F;
}

.app-game__board--black .app-game__box {
  background-color: #424242;
}

.app-game__board--brown .app-game__box {
  background-color: #795548;
}

.app-game__box:before {
  display: block;
  content:'';
  padding-top: 100%;
}

.app-game__row:nth-of-type(even) .app-game__box:nth-of-type(even),
.app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(odd) {
  background-color: #557896;
}

.app-game__board--pink .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(even),
.app-game__board--pink .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(odd) {
  background-color: #739673;
}

.app-game__board--blue .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(even),
.app-game__board--blue .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(odd) {
  background-color: #32644b;
}

.app-game__board--orange .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(even),
.app-game__board--orange .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(odd) {
  background-color: #787878;
}

.app-game__board--green .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(even),
.app-game__board--green .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(odd) {
  background-color: #789655;
}

.app-game__board--grey .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(even),
.app-game__board--grey .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(odd) {
  background-color: #3F3F3F;
}

.app-game__board--black .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(even),
.app-game__board--black .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(odd) {
  background-color: #424242;
}

.app-game__board--brown .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(even),
.app-game__board--brown .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(odd) {
  background-color: #795548;
}

.app-game__row:nth-of-type(even) .app-game__box:nth-of-type(odd),
.app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(even) {
  background-color: #CFD8DC;
}

.app-game__board--pink .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(odd),
.app-game__board--pink .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(even) {
  background-color: #F0B4C8;
}

.app-game__board--blue .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(odd),
.app-game__board--blue .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(even) {
  background-color: #E6E6E6;
}

.app-game__board--orange .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(odd),
.app-game__board--orange .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(even) {
  background-color: #D0CDCF;
}

.app-game__board--green .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(odd),
.app-game__board--green .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(even) {
  background-color: #EEEED2;
}

.app-game__board--grey .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(odd),
.app-game__board--grey .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(even) {
  background-color: #CCCCCC;
}

.app-game__board--black .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(odd),
.app-game__board--black .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(even) {
  background-color: #E53935;
}

.app-game__board--brown .app-game__row:nth-of-type(even) .app-game__box:nth-of-type(odd),
.app-game__board--brown .app-game__row:nth-of-type(odd) .app-game__box:nth-of-type(even) {
  background-color: #F0F0B4;
}

.app-head .app-button__create-game {
  left: 12px;
  right: initial;
}

.app-create-game__choices .app-button {
  margin-left: 8px;
  margin-right: 0;
}

.app-search__game-edit {
  right: initial;
  left: 24px;
}

.app-form__select-grid select.mdl-cell--6-col {
  margin-right: 0;
  margin-left: 4%;
}

.app-form__select-grid select.mdl-cell--6-col:last-child {
  margin-left: 0;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
    text-align: right;
}

.mdl-data-table th {
  text-align: left;
}

.mdl-data-table td {
  text-align: left;
}

.app-table td.app-table__avatar {
  padding-left: 0;
  padding-right: 24px;
  width: 40px;
}

.app-button__fixed {
  right: initial;
  left: 36px;
}

.app-button__fixed--game.app-button__fixed--action {
  right: initial;
  left: 104px;
}

.app-modal__actions {
  text-align: left;
}

.app-card__profile-avatar {
  left: initial;
  right: 20px;
}

.app-profile__action {
  right: initial;
  left: 24px;
}

.app-card__profile-title .app-profile__action {
  right: initial;
  left: 16px;
}

.app-profile__action .app-button {
  margin-left: 4px;
  margin-right: 0;
}

.app-profile__action .app-button:last-child {
  margin-left: 0;
}

.app-profile__card-avatar {
  left: initial;
  right: 24px;
}

.app-profile__avatar {
  margin-right: 0;
  margin-left: 12px;
}

.app-profile__game-content {
  margin-right: 8px;
  margin-left: 0;
}

.app-profile__game-type .app-icon {
    margin-left: 0;
    margin-right: 4px;
}

.app-profile__game-type .app-icon:first-child {
    margin-right: 0;
}

.app-profile__game-date {
  float: left;
}

.app-profile__trophy { 
  margin-left: 8px;
  margin-right: 0;
}

.app-profile__trophy:nth-child(10n + 10) {
  margin-left: 0;
}

.app-modal__head {
  padding-right: 8px;
  padding-left: 40px;
}

.app-modal__close {
  right: inherit;
  left: 20px;
}

.app-drawer .mdl-navigation__link .material-icons {
  margin-right: initial;
  margin-left: 18px;
}

.mdl-layout__header .mdl-layout__drawer-button {
  right: 0;
}

.mdl-layout__drawer {
  right: 0;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}

.mdl-layout__drawer.is-visible {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.app-modal__actions button {
  margin-right: 0;
  margin-left: 4px;
}

.app-modal__actions button:last-child {
  margin-left: 0;
}

.app-form__choices-colors button {
  margin-right: 0;
  margin-left: 24px;
}

.app-modal__settings-field, 
.app-form__textfield > .app-modal__settings-field, 
.app-form__select > .app-modal__settings-field {
  margin-left: 0;
  margin-right: 40px;
}

.app-modal__settings-icon, 
.app-form__textfield > .app-modal__settings-icon, 
.app-form__select > .app-modal__settings-icon {
  float: right;
}

.app-settings__loader,
.app-settings__done {
  position: absolute;
  left: initial;
  right: 20px;
}

.app-profile__info {
  margin-left: 6px;
  margin-right: initial;
}

.app-profile__info:last-child {
  margin-left: 0;
}

.app-profile__info--blitz {
  margin-left: initial;
  margin-right: -6px;
}

.app-profile__info--blitz .app-profile__info-content--points {
  margin-left: initial;
  margin-right: -3px;
}

.app-profile__stat:last-child {
  margin-right: 8px;
}

.app-modal__actions button {
  margin-left: 4px;
  margin-right: initial;
}

.app-modal__actions button:last-child {
    margin-left: 0;
}

.app-table--game-actions tbody tr td {
  border-left: 1px solid rgba(0,0,0,.12);
  border-right: 0;
}

.app-game__message-avatar {
  float: right;
}

.app-game__message--user .app-game__message-avatar {
  float: left;
}

.app-game__message--user .app-game__message-content {
  margin: 0 10px 0 63px;
}

.app-game__message-content {
  margin: 0 63px 0 10px;
}

.app-game__message--user:not(.app-game__message--next) .app-game__message-content:before {
  left: -8px;
  right: initial;
  border-width: 0 0 10px 10px;
}

.app-game__message:not(.app-game__message--next) .app-game__message-content:before {
  right: -8px;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent transparent #DB4437;
}

.app-game__message--user:not(.app-game__message--next) .app-game__message-content:before {
  left: -8px;
  right: initial;
  border-width: 0 10px 10px 0;
  border-color: transparent #795548 transparent transparent;
}

.app-game__toggle--played {
  left: 24px;
  right: initial;
}

.app-game__toggle--messages {
  right: 24px;
  left: initial;
}

.app-game__toggle-icon {
  right: 6px;
  left: initial;
}

.app-game__toggle-icon--action {
  right: initial;
  left: 6px;
}

.app-table th.app-table--game-played-black:last-of-type {
  padding-left: 36px;
}

.app-game__toggle-count {
  right: initial;
  left: -4px;
}

.app-game__lost-pieces {
  direction: ltr;
  float: left;
  margin-left: 10px;
  margin-right: 0;
}

.app-table__sortable:after {
  margin-left: 0;
  margin-right: 4px;
}

.app-table--game-played tbody tr td.app-table--game-played-index, 
.app-table--game-played tbody tr td.app-table--game-played-white:nth-child(odd) {
  border-left: 1px solid rgba(0, 0, 0, .12);
  border-right: 0;
}

.app-table--game-played td:first-of-type, .app-table--game-played th:first-of-type {
  padding-left: 12px;
  padding-right: 0;
}

.app-trophy--page .app-trophy__picture {
  float: right;
}

.app-trophy--page .app-trophy__content {
  margin-right: 108px;
}

.app-game__result-link .app-button {
  margin-right: 0;
  margin-left: 6px;
}

.app-game__played-actions {
  float: left;
}

.app-game__infos .app-icon {
  padding-left: 0;
  padding-right: 4px;
}

.app-game__infos .app-icon:first-child {
  padding-right: 0;
}

.app-button--share {
  margin-right: 0;
  margin-left: 6px;
}

.app-button--share:last-child {
  margin-left: 0;
}

.app-ranking__spinner {
  right: initial;
  left: 8px;
}

.app-ranking__count {
  text-align: left;
}

.app-profile--game-points-result {
  margin-right: 2px;
  margin-left: 0;
}

@media screen and (max-width: 1024px) {

  .app-header__row {
    padding: 0 36px 0 16px;
  }

  .app-game__toggle--messages {
    left: initial;
    right: 0;
  }

  .app-game__toggle--played {
    right: initial;
    left: 0;
  }
}

@media screen and (min-width: 949px) and (max-height: 949px) {
  .app-head--game {
    right: initial;
    left: 8px;
  }

  .app-profile--game .app-profile__info .app-icon {
    font-size: 20px;
    margin-left: 0;
  }

  .app-profile--game .app-profile__avatar {
    margin-left: 0;
  }

  .app-game__timer {
    float: none;
  }

  .app-game__player-avatar {
    float: none;
  }

  .app-game__lost-pieces {
    margin-left: 0;
  }

  .app-game__lost-pieces-group--knight {
    float: right;
  }

  .app-game__lost-pieces-group--rook {
    left: initial;
    right: 0;
  }

  @media screen and (min-height: 760px)  {
    .app-layout.is-game .mdl-cell.app-head--game {
      right: initial;
      left: 8px;
    }
  }

  @media screen and (max-height: 759px)  {
    .app-layout.is-game .mdl-cell.app-head--game {
      right: initial;
      left: 4px;
    }
  }
}

@media (min-width: 840px) and (max-width: 1024px) {
  
  .app-header__row .app-navigation {
    padding-left: 0;
    padding-right: 56px;
  }

  .app-button--create-game {
    margin: 0 0 0 28px;
  }
}

@media (max-width: 839px) {

  .app-mobile__title {
    left: 60px;
    right: 56px;
  }

  .app-logo__text {
    margin-right: 0;
  }

  .app-modal__logo .app-logo__text {
    margin-left: 0;
    margin-right: 56px;
  }

  .app-navigation__profile-infos {
    margin-left: 0;
    margin-right: 12px;
  }

  .app-navigation__profile-infos--blitz {
    margin-left: 0;
    margin-right: 2px;
  }

  .app-navigation__profile-infos .app-icon {
    padding-left: 0;
  }

  .app-button__fixed {
    right: initial;
    left: 16px;
  }
  
  .app-button__fixed.app-button__fixed--action {
    right: initial;
    left: 84px;
  }

  .app-header__mobile-link {
    display: inline-block;
    padding: 8px 8px 0;
  }

  .app-header__mobile-link:first-child {
    padding-right: 0;
    padding-left: 8px;
  }
  
  .app-header__mobile-link:last-child {
    padding-left: 0;
    padding-right: 8px;
  }
}


@media (min-width: 600px) {
  .app-create-game__choices .app-button:nth-of-type(4n + 4) {
    margin-left: 0; 
  }
}

@media screen and (max-width: 599px) {

  .app-ranking__toggle-content .app-button:nth-child(2n +2) {
    float: left;
  }

  .app-profile__game-content {
    margin-right: 0;
  }

  .app-profile__action {
    right: initial;
    left: 8px;
  }

  .app-profile__trophy {
    margin-left: 2%;
    margin-right: 0;
  }

  .app-modal__close {
    right: inherit;
    left: 16px;
  }

  .app-create-game__choices .app-button {
    margin-left: 2%;
    margin-right: 0;
  }

  .app-create-game__choices .app-button:nth-of-type(3n + 3) {
    margin-left: 0; 
  }

  .app-profile__card-avatar {
    left: initial;
    right: 8px;
  }

  .app-profile__stat:first-child {
    margin-left: 0;
    margin-right: 4px;
  }

  .app-profile__stat:last-child {
    margin-left: 0;
    margin-right: 4px;
  }

  .app-game__toggle {
    right: 0;
    left: 0;
  }

  .app-game__toggle-icon--phone {
    left: initial;
    right: 0;
    border-right: 0;
    border-left: 1px solid rgba(0,0,0,.12);
  }

  .app-game__toggle-count {
    left: 2px;
  }

  .app-game__toggle-head--phone .app-game__toggle-icon--phone:nth-of-type(1) {
    border-right: 0;
    border-left: 1px solid rgba(0,0,0,.12);
    left: initial;
    right: 0;
  }

  .app-game__toggle-head--phone .app-game__toggle-icon--phone:nth-of-type(2) {
    border-right: 0;
    border-left: 1px solid rgba(0,0,0,.12);
    left: initial;
    right: 40px;
  }

  .app-game__toggle--phone-archived .app-game__toggle-head--phone .app-game__toggle-icon--phone:nth-of-type(2) {
    right: 0;
  }

  .app-game__toggle-head--phone .app-game__toggle-icon--phone:nth-of-type(3) {
    border-left: 0;
    border-right: 1px solid rgba(0,0,0,.12);
    right: initial;
    left: 80px;
  }

  .app-game__toggle-head--phone .app-game__toggle-icon--phone:nth-of-type(4) {
    border-left: 0;
    border-right: 1px solid rgba(0,0,0,.12);
    right: initial;
    left: 40px;
  }

  .app-game__toggle-head--phone .app-game__toggle-icon--phone:nth-of-type(5) {
    border-left: 0;
    border-right: 1px solid rgba(0,0,0,.12);
    right: initial;
    left: 0;
  }
}

@media (max-width: 479px) {

  .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-right: 12px;
  }

  .mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
    padding-left: 12px;
  }

  .app-table td.app-table__avatar:first-of-type,
  .app-table td.app-table__avatar {
    padding-right: 12px;
    padding-left: 4px;
  }

  .app-profile--game-points-result {
    margin-right: 0;
  }
  
  .app-game__lost-pieces {
    float: none;
    direction: rtl;
  }

  .app-profile--game .app-profile__avatar {
    margin-left: 4px;
    margin-right: 0;
  }

  .app-form__choices-colors button {
    margin-left: 8px;
  }

  .app-head {
    padding: 8px;
  }

  .app-head .app-button__create-game {
    left: auto;
  }

  .app-table__sortable {
    margin-left: -6px;
    margin-right: 0;
  }

  .app-table__sortable:after {
    margin-right: 0;
  }

  .app-profile__trophy {
    margin-right: 0;
    margin-left: 5%;
  }

  .app-profile__trophy:nth-child(5n + 5) {
    margin-left: 0;
  }
}
